<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<% if @task.completed %>
  <p>This task is completed</p>
<% else %>
  <p>This task is not completed yet</p>
<% end %>

<%= link_to 'Edit this task', edit_task_path %>

<%= link_to 'Delete this task',
  # here we need to use the instance variable of @task as argument bc it's not product of iteration
  task_path(@task),
  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}
%>

<%= link_to 'Back to list', tasks_path %>
<%# goes back to index page %>
